table {
  min-height: 60vh;
}

thead {
  background-color: #474955;
  color: white;

  th {
    border-width: 0 0 !important;
    min-width: 90px;
  }
}


button {
  background-color: #474955;
  border: none;
}

.table-striped > tbody > tr > * {
  --bs-table-accent-bg: #FFFFFF !important;
  color: var(--bs-table-striped-color);
}

thead {
  th {
    cursor: pointer;
  }
}

tbody {
  tr {
    height: 25px !important;
    overflow: hidden;
  }
}

.search {
  max-width: 60%;

  form {
    position: relative;
    width: 100%;
    margin: 30px auto;
    background: #5A5C66;

    input {
      width: 100%;
      height: 42px;
      padding-left: 15px;
      border: none;
      outline: none;
      background: transparent;
    }

    input {
      color: white !important;
    }

    input:hover {
      cursor: pointer;
    }
  }

  button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}

.desc {
  transform: rotate(180deg);
}

.asc, .desc {
  margin-left: 10px;
}