@import "~bootstrap/scss/bootstrap";

.app-container {
  background-color: rgb(220, 220, 220);
  max-width: 60vw;
  min-height: 80vh;
  border: darkgray 2px solid;
  margin-top: 40px;

  .main-container {
    background-color: rgb(245, 245, 245);
    max-width: 85%;
    height: 90vh;
  }

}